*{
    background-color: blanchedalmond;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.figure{
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 200px;
}